@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.base-apparel-container {
  min-height: 100vh;
  display: flex;
}

.base-apparel-container-left {
  width: 60%;
}

.base-apparel-container-right {
  width: 40%;
}

.hero-img {
  background-image: url(./images/hero-desktop.jpg);
  background-size: cover;
}